D:\nodejss\expressByIshita\node_modules
D:\nodejss\expressWeb\node_modules
D:\nodejss\mongoosejs\node_modules
D:\nodejss\node_dynamic\node_modules
D:\nodejss\node_modules
D:\nodejss\nodedynamic\node_modules
D:\nodejss\npmMod\node_modules