{{!-- about section --}}
   <div class="container_fluid mt-5 about-style" id="aboutid">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
         <h1 class="text-center main-heading">About Us</h1>
       <p class="text-center sub-heading">grow your business with us</p>
         <div class="row">
           <div class="col-md-6 col-12 hero text ">
             <figure>
               <img src="imagesdyna/comp.png" alt="hero_img">
             </figure>
             
           </div>
           <div class="col-md-6 col-12 hero text d-flex justify-content-center align-items-left flex-column">
             <h1 class="main_head">WE WILL HELP YOU TO</h1>
             <h1 class="sec_head">GROW YOUR BUSINESS</h1>
             <p class="para_ji">We are the team of <span class="bold-style">Professional Developer</span></p>
             <button class="btn_ji">Read More</button>

           </div>
          
           </div>
         

       </div>
     </div>

   </div>
  {{!-- about end --}}
  